<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dcdcconvertersdesign">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".views.InductorDesignTableActivity" />
        <activity android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.UsualDesignActivity" />
        <activity android:name=".views.ReverseDesignActivity" />
        <activity android:name=".views.helpmenu.SymbolsDefinitionsActivity" />
        <activity android:name=".views.helpmenu.ConvertersDefinitionsActivity" />
        <activity android:name=".views.ConverterActivity" />
        <activity android:name=".views.AdvancedActivity" />
        <activity android:name=".views.SnubberDesignActivity" />
        <activity android:name=".views.InductorDesignActivity" />
        <activity android:name=".views.ConverterReverseActivity" />
        <activity android:name=".views.helpmenu.InductorDefinitionsActivity" />
        <activity android:name=".views.helpmenu.AboutActivity" />
        <activity android:name=".views.SimulationActivity" />
        <activity android:name=".views.SimulationParametersActivity" />
    </application>
</manifest>